*{
    box-sizing: border-box;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color:bisque;
}
th,td{
    padding:5px 10px;
}
td{
    text-align: center;
}   
tr{
    background-color: rgba(216, 227, 64, 0.674);
}
tr:nth-child(even){
    background-color: rgb(234, 172, 215);
}
.googlebtn:link{   
    background-color: rgb(255, 0, 200);
    text-decoration: none;
    font-size:20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    width: 100px;
}
.googlebtn:hover{
    background-color: rgb(255, 255, 255);
}
.googlebtn:active{
    background-color: rgb(227, 8, 8);
    width: 95px;
}
.googlebtn:visited{
    BACKGROUND-COLOR: rgb(0, 228, 156);
}
.imgcircle{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.DemoOne{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.DemoTwo{
    display:block;
    width: 100%;
    margin: 50px auto;
}