body{
    background-color:rgb(186, 178, 166) !important;
}
.customLocatorSearch{
   /* background-color: rgb(228, 181, 119);*/
    padding: 1rem;
}
.customLocatorSearch input{
      border-radius: 18px;
}

.customIconOpenNow{
    color: green;
    font-weight: 700;
    text-decoration: none;
}

.rightIcon{
    color: orange;
}
.rightIcon div{
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(198,198,198);
    padding: 7px;
}

.DineAndTake a{
    color: orange;
}