body{
    box-sizing: border-box;
    background-color: #f8c000;;
}
nav{
    height: 70px;
    background-color: rgb(92, 92, 92);
    width:95%;
    margin: 0 auto;
    border-radius: 10px;
}
.DivDiv{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.navMenu:link{
    /*padding : 20px;*/
    font-size:x-large;
    color:#9C9C9C;
    text-decoration: none;
}
.navMenu:hover{
    color: #707070;
}
.navMenu:active{
    text-decoration: underline;
}
.navMenu:visited{
    padding : 20px 30px;
    font-size:x-large;
    color:#9C9C9C;
}
.navMenu i{
    font-size: 28px;
    color: #9C9C9C;
}

.textshadow{
    text-shadow: 3px 3px 4px aqua;
}
h1{
    text-align: center;
    color:antiquewhite;
}
.ProjectContainer{
    display: flex;
    color:white;
    justify-content: space-evenly;
}
.textshadow1{
    text-shadow: 3px 3px 4px rgb(212, 233, 27);
}
.Image{
    border-radius: 10px;
    border:dotted;
}
.card{
    color:white;
    padding: auto;
}
h3{
    margin-top: 100px;
    color:darkturquoise;
}
.Info{
    color:rgb(240, 0, 0);
    text-align:center;
    padding-top: 100px;
}
.TopArrow{
    width: 25px;
    height: 25px;
    background-color:rgb(245, 9, 9);
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 20px;
}